<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>PHISING API</title>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
  <div>
    <header style="margin-left: 5%;">
      <img style="width: 200; height: 200;" src="/static/imgs/logo.png"/>
    </header>
  </div>
 <div class="login">
	<h4>DETECTION D'URL DE TYPE PHISING</h1>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="url" name="url" placeholder="https://example.com" required="required" />
      <!-- <input type="text" name="test_score" placeholder="Test Score" required="required" /> -->
		  <!-- <input type="text" name="interview_score" placeholder="Interview Score" required="required" /> -->
      
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <div>
    <label style="background-color: white; border-radius: 3px; cursor: pointer; border-color: brown; color: black;">{{ prediction_text }}</label>
   </div>
 </div>


</body>
</html>
